body {
  font-family: monospace;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  background-color: #e7e7e7;
}

.past {
  background-color: #d3d3d3;
}

.present {
  color: white;
  border: 3px solid goldenrod;
}

.future {
  background-color: #a2d4a2;
  color: white;
}

.saveBtn {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  background: none;
  padding: 1%;
  background-color: rgb(206, 230, 230);
}

.saveBtn:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(136, 220, 220);
}

.times {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 1%;
}

p {
  font-size: x-large;
  padding-top: 21%;
}

.centered{
text-align: center;
}